body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.title{
    color: rgb(209, 184, 25);
    font-size: 20px;
    text-decoration: underline overline;   
    padding: 70px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.561);
    box-shadow: 0 0 20px yellow;
    padding-right: 10px;
}

.gallery img {
    width: 100px;
    height: auto;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px yellow;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

#displayImage {
    width: 100%;
    max-width: none;
    max-height: 600px; /* Ajusta según sea necesario */
    height: auto;
    margin: 40px 0;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(187, 143, 11, 0.904);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

button {
    font-size: 18px;
    padding: 5px;
    margin: 0 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}
/*FOOTER*/
footer {
    background: black;
    text-align: center;
    color: #555;
}

footer:hover{
    color: rgba(187, 143, 11, 0.904);
    transition: 0.8s;
}

/* Media query para pantallas de móviles menores o iguales a 600px */
@media screen and (max-width: 600px) {
    body {
        padding: 10px; /* Ajusta según sea necesario */
    }

    .title {
        padding: 20px; /* Ajusta según sea necesario */
        order: 1;
    }

    .gallery {
        padding: 10px; /* Ajusta según sea necesario */
    }

    .gallery img {
        width: 80px; /* Ajusta según sea necesario */
    }

    #displayImage {
        width: 550px;
        margin: 60px 0; /* Ajusta según sea necesario */
        max-height: 360px; /* Ajusta según sea necesario */
    }

    button {
        font-size: 16px; /* Ajusta según sea necesario */
        margin: 0 10px; /* Ajusta según sea necesario */
    }

    footer {
        font-size: 14px; /* Ajusta según sea necesario */
    }
}
